name: CI DevOps Lab

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run with environment variables and secrets
        env:
          APP_ENV: ${{ secrets.APP_ENV }}
          APP_NAME: devops-lab
        run: |
          echo "Aplicação: $APP_NAME"
          echo "Ambiente: $APP_ENV"
          echo "Pipeline seguro em execução"
