name: CI/CD DevOps Lab

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Build artefact
        run: |
          mkdir -p build
          echo "Build gerado em $(date)" > build/info.txt

      - name: Upload artefact
        uses: actions/upload-artifact@v4
        with:
          name: devops-build
          path: build/

  deploy-dev:
    needs: build
    runs-on: ubuntu-latest
    environment: dev

    steps:
      - name: Deploy to DEV
        run: |
          echo "Deploy em DEV iniciado"
          echo "Deploy DEV concluído com sucesso"

  deploy-prod:
    needs: deploy-dev
    runs-on: ubuntu-latest
    environment: prod

    steps:
      - name: Deploy to PROD
        run: |
          echo "Deploy em PRODUÇÃO iniciado"
          echo "Deploy PRODUÇÃO concluído com sucesso"
